extends includes/layout.pug

block breadcrumb
    .row
        .col-sm-12
            ol.breadcrumb
                li
                    a(href="/") Home
                li.active Cart

block content
    if updated
        p.bg-warning(style="padding: 15px; font-size: 14px;")  Your cart has been successfully updated.

    .row
        .col-sm-12
            table.table.table-bordered.table-striped
                thead
                    tr
                    th Product Name
                    th Image
                    th Quantity
                    th Unit Price
                    th Total
                tbody
                    each item in cart
                        tr
                            form( action="/cart/items/" + item.item._id + "/quantity" method="post")
                                td
                                    a(href="/item/" + item.item._id) #{ item.item.title }
                                td.muted.center_text
                                    a(href="/item/" + item.item._id )
                                        img(src="/static" + item.item.img_url, alt="")
                                td
                                    select(name="quantity" onchange="this.form.submit()")
                                        option(value="0") 0 (Remove)
                                        - for (var i = 1; i < 26; i++) 
                                            if item.quantity == i
                                                option(value=i selected) #{i} 
                                            else
                                                option(value=i) #{i} 
                                td 
                                    = item.item.price
                                td
                                    = (item.item.price * item.quantity) 
                    tr
                        td &nbsp; 
                        td &nbsp; 
                        td &nbsp; 
                        td &nbsp;
                        td 
                            strong #{ total }
        .row
            .col-sm-12(style="text-align: right; padding-right: 30px;")
                form(method="get", action="/payment")
                    input(type="hidden", name="total" value=total)
                    button.btn.btn-success(type="submit") Proceed to checkout




